<footer class="ftco-footer ftco-section">
	<div class="container">
		<div class="row mb-3">
			<div class="col-md">
				<div class="ftco-footer-widget mb-1">
					<a href="/">
						<img class=".ftco-footer-logo" src="/public/images/241.png" alt="Nick House Buyer"
							style="height: 100px;">
					</a>
					<h2 class="ftco-heading-2">Nick House Buyer</h2>
					<ul class="ftco-footer-social list-unstyled mt-5">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">Community</h2>
					<ul class="list-unstyled">
						<li><a href="/properties"><span class="icon-long-arrow-right mr-2"></span>Search
								Properties</a></li>
						<li><a href="/terms-of-service"><span class="icon-long-arrow-right mr-2"></span>Terms &
								Conditions</a></li>
						<li><a href="/privacy-policy"><span class="icon-long-arrow-right mr-2"></span>
								Privacy Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">blogs</h2>
					<ul class="list-unstyled">
						<li><a href="/blogs/1"><span class="icon-long-arrow-right mr-2"></span>Selling House Quickly</a>
						</li>
						<li><a href="/blogs/2"><span class="icon-long-arrow-right mr-2"></span>Calculate sell taxes</a>
						</li>
						<li><a href="/blogs/3"><span class="icon-long-arrow-right mr-2"></span>Pre Foreclosure</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Company</h2>
					<ul class="list-unstyled">
						<li><a href="/"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
						<li><a href="/aboutus"><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
						<li><a href="/faq"><span class="icon-long-arrow-right mr-2"></span>FAQs</a></li>
						<li><a href="/contactus"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Have a Questions?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li><a href="tell:+13235531922"><span class="icon icon-map-marker"></span><span
										class="text">
										100 N Ashley Dr. Tampa ,
										Florida 33602</span></a></li>
							<li><a href="tell:+13235531922"><span class="icon icon-phone"></span><span class="text">+1
										323 553 1922</span></a></li>
							<li><a href="mailto:Info@nickhousebuyer.online"><span
										class="icon icon-envelope pr-4"></span><span
										class="text">info@nickhousebuyer.online</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">

				<p>
					Our team has helped many distressed homeowners relieve their
					emotional and financial stress,
					and our team goal is the same for you.</p>
				<p>
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This
					is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a
						href="https://nickswebprojects.site" target="_blank">Nicks Web Projects</a>
				</p>
			</div>
		</div>
	</div>
</footer>